:root {
  --primary-light: #f7f7f7;
  --secondary-light: #eeeeee;
  --text-light: #000000;
  --primary-dark: #393e46;
  --secondary-dark: #929aab;
  --text-dark: #ffffff;
}

.light-mode {
  --primary-color: var(--primary-light);
  --secondary-color: var(--secondary-light);
  --text-color: var(--text-light);
}

.dark-mode {
  --primary-color: var(--primary-dark);
  --secondary-color: var(--secondary-dark);
  --text-color: var(--text-dark);
}
